/* public/stylesheets/index.css */
/* Add styling for the chat container, messages, and form */

body {
  background-color: #f2f2f2;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.chat-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 385px; /* Set a maximum height for the messages container */
  background-color: #fff; /* Move background color to chat-container */
}

.messages-container {
  margin-bottom: 20px;
}

.message-container {
  background-color: #f5f5f5;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user {
  font-weight: bold;
  color: #3498db;
}

.text {
  margin-top: 8px;
}

.date {
  font-size: 12px;
  color: #999;
}

/* Form styling */
.form-group {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form input {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.form input:focus {
  border-color: #3498db;
  outline: none;
}

.button {
  width: 100%;
  max-width: 600px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #267bb5;
}

/* Style for the form inputs */
.form input[type="text"] {
  width: 100%; /* Make the text input as wide as the form container */
  max-width: 600px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.form input[type="text"]:focus {
  border-color: #3498db;
  outline: none;
}
